Flask
gunicorn
numpy
pandas
scikit-learn
scipy
joblib
setuptools
wheel
fastapi
uvicorn[standard]
pydantic
langchain-core
langgraph
chromadb
groq
langchain-groq
google-genai
python-multipart
python-dotenv
langchain-community
pypdf
SQLAlchemy
passlib[bcrypt]
python-jose[cryptography]
resend
