Flask
gunicorn
numpy
pandas
scikit-learn==1.6.1
scipy
joblib
setuptools
wheel
fastapi
uvicorn[standard]
pydantic
langchain-core
langgraph
groq
faiss-cpu
sentence-transformers
langchain-huggingface
langchain-groq
google-genai
python-multipart
python-dotenv
langchain-community
pypdf
SQLAlchemy
bcrypt==3.2.2
passlib[bcrypt]
python-jose[cryptography]
resend
Pillow
psycopg2-binary
httpx
